.advantages{
  padding-top: 1px;

  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;

  &--triangle{
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}
.advantages__header{
  padding-left: 25px;
  padding-right: 25px;
}

.advantages__caption{
  margin: 76px 0 9px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.advantages__caption--mod{
  margin-top: 38px;
}

.advantages__text{
  margin: 15px 0 40px;
}

.advantages__text--mod{
  margin-bottom: 39px;
}

.advantages__image img{
  display: block;
}

@media(min-width: 768px){
  .advantages{
    display: flex;
    padding-top: 0;

    &--order div{
      order: -1;
    }

    &--triangle{
      background-image: none;
    }
  }

  .advantages__header{
    width: 256px;
    padding: 0;
  }

  .advantages__caption{
    margin: 45px 52px 11px 53px;

    font-size: 21px;
  }

  .advantages__text{
    margin: 20px 45px 0;
  }

  .advantages__image{
    margin-top: 0;
  }
}

@media(min-width: 1200px){
  .advantages{
    height: 256px;
    overflow: hidden;
  }
  .advantages__header{
    width: 400px;
  }

  .advantages__caption{
    margin: 52px 124px 10px 125px;

    font-size: 21px;
  }

  .advantages__text{
    margin: 21px 65px 0;
  }

  .advantages__text--mod{
    margin: 21px 90px 0;
  }

  .advantages__image img{
    margin-top: -72px;
  }
}
