.advantages{
  padding-top: 1px;

  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;

  &--triangle{
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  }

  &__header{
    padding-left: 25px;
    padding-right: 25px;
  }

  &__caption{
    margin: 76px 0 9px;

    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  &__caption--mod{
    margin-top: 38px;
  }

  &__text{
    margin: 15px 0 40px;
  }

  &__text--mod{
    margin-bottom: 39px;
  }

  &__image img{
    display: block;
  }
}

@media(min-width: 768px){
  .advantages{
    display: flex;
    padding-top: 0;

    &--order div{
      order: -1;
    }

    &--triangle{
      background-image: none;
    }

    &__header{
      width: 256px;
      padding: 0;
    }

    &__caption{
      margin: 45px 52px 11px 53px;

      font-size: 21px;
    }

    &__text{
      margin: 20px 45px 0;
    }

    &__image{
      margin-top: 0;
    }
  }
}

@media(min-width: 1200px){
  .advantages{

    &__header{
      width: 400px;
    }

    &__caption{
      margin: 52px 124px 10px 125px;

      font-size: 21px;
    }

    &__text{
      margin: 21px 65px 0;
    }

    &__image img{
      height: 256px;
    }
  }
}
