.button{
  width: 280px;
  margin: 0 20px 45px 20px;
  padding: 18px 10px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  background-color: #81b3d2;

  &--failure{
    width: 180px;
    margin-bottom: 35px;

    font-size: 18px;
  }

  &--success{
    font-size: 18px;
  }
}
