.feature{
  padding: 1px 20px;
  background-color: #eeeeee;

  &__list{
    margin: 0;
    padding: 0;

    text-align: center;

    list-style: none;
  }

  &__item{
    border-bottom: 1px solid #d6d6d6;
  }

  &__item:nth-child(3){
    border-bottom: none;
  }

  &__caption{
    margin-top: 25px;
    margin-bottom: 9px;

    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  &__caption--mod{
    margin-top: 27px;
  }

  &__order{
    display: block;
    margin-bottom: 15px;
  }

  &__text{
    margin-bottom: 27px;
    padding: 0 15px;
  }
}

@media(min-width: 768px){
  .feature{
    padding: 0;

    &__list{
      display: flex;
      padding-top: 45px;
    }

    &__item{
      width: 256px;

      border: none;
    } 

    &__caption{
      width: 130px;
      margin: 0 auto 10px;

      font-size: 21px;
    }

    &__text{
      width: 158px;
      margin: 21px auto 44px;
    }
      
    &__text--mod{
      width: 149px;
    }
  }
}

@media(min-width: 1200px){
  .feature{

    &__item{
      width: 400px;
    }

    &__text{
      width: 295px;
      margin: 21px auto 65px;
    }

    &__text--mod{
      width: 265px;
    }
  }
}
