.feature{
  padding: 30px 20px;
  background-color: #eeeeee;

  &__list{
    margin: 0;
    padding: 0;

    text-align: center;

    list-style: none;
  }

  &__item{
    border-bottom: 1px solid #d6d6d6;
  }

  &__item:nth-child(3){
    border-bottom: none;
  }

  &__caption{
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  &__order{
    margin-bottom: 20px;
  }

  &__text{
    margin-bottom: 29px;
    padding: 0 15px;
  }

  &__text:nth-child(3){
    margin-bottom: none;
  }
}

@media(min-width: 768px){
  .feature{
    padding: 0;

    &__list{
      display: flex;
      padding-top: 45px;
    }

    &__item{
      width: 256px;

      border: none;
    }

    &__caption{
      width: 130px;
      margin: 0 auto 20px;
    }

    &__text{
      width: 165px;
      margin: 30px auto 50px;
    }
  }
}

@media(min-width: 1200px){
  .feature{

    &__item{
      width: 400px;
    }

    &__text{
      width: 295px;
      margin: 30px auto 65px;
    }
  }
}
