.form{
  margin-top: -10px;

  background-color: #ffffff;
}
.form__item{
  margin: 0;
  padding: 0;

  border: none;
  border-top: 1px solid #e5e5e5;
}

.form__item:nth-of-type(2){
  margin-top: 25px;
}

.form__caption{
  margin-bottom: 21px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  text-align: center;
}

.form__wrapper-introduce{
  display: flex;
  align-items: baseline;
  margin: 20px 20px 0 20px;
}

.form__wrapper-introduce:nth-child(3) label{
  margin-right: 14px;
}

.form__wrapper-introduce:nth-child(4) label{
  margin-right: 17px;
}

.form__wrapper-contacts{
  position: relative;
  margin: 23px 20px 30px 20px;
}

.form__wrapper-contacts:nth-child(2){
  margin: -15px 20px 28px 20px;
}

.form__wrapper-contacts label{
  position: relative;
}

.form__wrapper-contacts label::after{
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 201px;
  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
}

.form__wrapper-contacts svg{
  position: absolute;
  top: 50px;
  left: 243px;
}

.form__wrapper-impression{
  position: relative;
  margin: 38px 20px 42px 20px;
}

.form__wrapper-impression:nth-child(3){
  margin: 38px 20px 44px 20px;
}

.form__wrapper-sight{
  margin: 32px 20px -14px 20px;
}

.form__wrapper-item{
  position: relative;
  margin-bottom: 54px;
}

.form__field{
  box-sizing: border-box;
  width: 100%;
  padding: 16px 22px;

  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  border: none;
  background-color: #f2f2f2;

  cursor: pointer;
}

.form__field:hover{
  background-color: #e5e5e5;
}

.form__field:focus{
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}

.form__field--mod{
  padding-left: 21px;
}

.form__name{
  margin-right: 13px;

  cursor: pointer;
}

.form__name--mod{
  display: inline-block;
  margin-left: 21px;
  margin-bottom: 9px;
}

.form__label{
  margin-left: 79px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  text-transform: none;

  cursor: pointer;
}

.form__radio{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  cursor: pointer;
}

.form__checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  cursor: pointer;
}

.form__label::before{
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  display: inline-block;
  width: 56px;
  height: 56px;

  background-color: #f2f2f2;
  border-radius: 50%;
}

.form__label:hover::before{
  background-color: #e5e5e5;
}

.form__label:active::before{
  background-color: #d5d5d5;
}

.form__label--mod::before{
  border-radius: 10%;
}

.form__radio:focus + label::before{
  outline: 4px solid #e5e5e5;
}

.form__checkbox:focus + label::before{
  outline: 4px solid #e5e5e5;
}

.form__radio[name="impression"]:checked ~ label::before{
  content: "";
  position: absolute;
  top: -15px;
  display: inline-block;
  width: 21px;
  height: 21px;

  background-color: #333333;
  border-radius: 50%;
  border: 17px solid #f2f2f2;
}

.form__radio[name="impression"]:checked ~ label:hover::before{
  border: 17px solid #e5e5e5;
}

.form__radio[name="impression"]:checked ~ label:active::before{
  background-color: #a4a4a4;
  border: 17px solid #d5d5d5;
}

.form__checkbox:checked ~ label::before{
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__textarea{
  width: 257px;
  height: 145px;
  padding: 16px 0 0 21px;
  margin: -5px 20px 44px 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  border: none;
  background-color: #f2f2f2;

  cursor: pointer;
}

.form__obligatory{
  display: none;
}

.form__field::-webkit-input-placeholder{
  padding-left: -5px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.form__field::-moz-placeholder{
  padding-left: -5px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@media(min-width: 768px){
  .form{
    display: flex;
    flex-wrap: wrap;

    &--mod{
      padding-top: 12px;
    }

    &__caption{
      font-size: 21px;
    }
  }
  .form__item{
    padding: 0;
    margin-left: 60px;
    border: none;
  }

  .form__item:nth-of-type(1) h3{
    text-align: left;
    padding-left: 10px;
  }

  .form__item:nth-of-type(2){
    margin-top: 13px;
  }

  .form__wrapper-introduce{
    width: 266px;
    margin: 20px 0 0 10px;
  }

  .form__wrapper-contacts{
    margin: 20px 0 27px 0;
  }

  .form__wrapper-contacts:nth-child(2) {
    margin: 20px 0 30px 0;
  }

  .form__wrapper-contacts label::after{
    left: 570px;
  }

  .form__wrapper-contacts svg{
    left: 611px;
  }

  .form__wrapper-impression{
    position: relative;
    margin: 25px 0 52px 0;
  }

  .form__impression{
    position: relative;
      
    order: -1;
  }
    
  .form__impression::after{
    content: "";
    display: block;
    position: absolute;
    top: 26px;
    left: 323px;
    width: 1px;
    height: 292px;
    background-color: #dbdbdb;
  }

  .form__impression h3{
    text-align: left;
    margin-bottom: 73px;
  }

  .form__wrapper-impression:nth-child(3){
    margin: 25px 0 52px 0;
  }

  .form__introduce h3{
    margin-bottom: 57px;
  }

  .form__contacts{
    width: 649px;
  }

  .form__contacts h3{
    position: relative;
    margin-bottom: 27px;
  }

  .form__contacts h3::before,
  .form__sight h3::before,
  .form__emotions h3::before  {
    content: "";
    display: block;
    position: absolute;
    width: 125px;
    height: 1px;
    
    background-color: #dbdbdb;
  }

  .form__contacts h3::after,
  .form__sight h3::after,
  .form__emotions h3::after{
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    
    background-color: #dbdbdb;
  }

  .form__contacts h3::before{
    top: 12px;
    left: 0;
  }

  .form__contacts h3::after{
    top: 12px;
    left: 525px;
  }

  .form__sight h3::before{
    top: 25px;
    left: -179px;
  }

  .form__sight h3::after{
    top: 25px;
    left: 346px;
  }

  .form__emotions h3::before{
    top: 33px;
    left: 0;
  }

  .form__emotions h3::after{
    top: 33px;
    left: 525px;
  }

  .form__introduce{
    padding-left: 40px;
  }

  .form__wrapper-sight{
    display: flex;
    margin: 57px 0 15px 0;
  }

  .form__wrapper-item{
    margin-bottom: 62px;
  }

  .form__division-wrapper:nth-child(1){
    margin-right: 70px;
  }

  .form__sight{
    margin: 22px auto -15px;
  }

  .form__emotions{
    position: relative;
  }

  .form__obligatory{
    display: block;
    position: absolute;
    top: 343px;
    left: 482px;
  }

  .form__item:nth-of-type(4) h3{
    width: 290px;
    margin: 0 auto;
    position: relative;
  }

  .form__textarea{
    width: 627px;
    height: 144px;
    margin: 36px 0 51px 0;
  }

  .form__label{
    margin-left: 76px;
  }
}

@media(min-width: 1200px){
  .form{
    justify-content: space-between;
    margin-top: -33px;

    &--mod{
      padding-top: 20px;
    }
  }
  .form__item{
    margin-left: 124px;
  }

  .form__introduce{
    width: 400px;
    margin-right: 120px;
    padding-left: 0;
  }

  .form__impression{
    width: 400px;
  }

  .form__contacts{
    margin-left: 119px;
  }

  .form__sight{
    margin-top: -33px;
    margin-left: 83px;
  }

  .form__emotions{
    margin-left: 120px;
  }
    
  .form__impression::after{
    left: 476px;
  }
    
  .form__contacts h3::before{
    width: 279px;
    top: 12px;
    left: 1px;
  }

  .form__contacts h3::after{
    width: 279px;
    top: 12px;
    left: 682px;
  }

  .form__sight h3::before{
    width: 281px;
    top: 26px;
    left: -334px;
  }

  .form__sight h3::after{
    width: 281px;
    top: 26px;
    left: 347px;
  }

  .form__emotions h3::before{
    width: 280px;
    top: 32px;
    left: 0;
  }

  .form__emotions h3::after{
    width: 279px;
    top: 32px;
    left: 681px;
  }

  .form__wrapper-contacts:nth-child(2){
    margin-top: -5px;
  }

  .form__wrapper-contacts label::after{
    top: -20px;
    left: 343px;
  }

  .form__wrapper-contacts:nth-child(2) label::after{
    left: 420px;
  }

  .form__wrapper-contacts:nth-child(1) svg{
    top: 19px;
    left: 364px;
  }

  .form__wrapper-contacts:nth-child(2) svg{
    top: 20px;
    left: 443px;
  }

  .form__wrapper--mod{
    display: flex;
    justify-content: space-between;
    width: 960px;
  }

  .form__wrapper-contacts{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -5px;
  }

  .form__division-wrapper{
    display: flex;
    justify-content: space-around;
    width: 500px;
  }

  .form__division-wrapper:nth-child(1){
    margin-right: 24px;
  }

  .form__wrapper-introduce{
    width: 400px;
    margin-left: 3px;
  }

  .form__name--mod{
    margin-left: 0;
    margin-right: 17px;
  }

  .form__field--mod{
    width: 315px;
  }

  .form__item:nth-of-type(1) h3{
    margin-bottom: 57px;
    padding-left: 3px;
  }

  .form__item:nth-of-type(2) h3{
    margin-top: 19px;
    margin-bottom: 79px;
  }

  .form__item:nth-of-type(3) h3{
    margin-bottom: 73px;
    margin-left: 75px;
  }

  .form__item:nth-of-type(4) h3{
    margin-top: 55px;
    margin-bottom: 45px;
    margin-left: 371px;
  }

  .form__item:nth-of-type(5) h3{
    margin: 19px 0 22px -2px;
  }

  .form__textarea{
    width: 939px;
    height: 144px;
    margin-top: 35px;
    margin-bottom: 51px;
  }

  .form__obligatory{
    position: absolute;
    top: 341px;
    left: 794px;
  }

  .form__hide{
    display: none;
  }
}
