.likes{
  display: flex;
  width: 84px;
  margin-top: 8px;

  &__like{
    width: 22px;
    height: 20px;
    margin-right: 15px;

    cursor: pointer;
  }
}

@media(min-width: 768px){
  .likes{
    margin-top: 0;

    &__like{
      margin-right: 9px;

      fill: #a9a9a9;
    }
  }
}

@media(min-width: 1200px){
  .likes{

    &__like{
      margin-right: 9px;

      fill: #ffffff;
    }
  }
}
