.map{

  &__search{
    height: 350px;

    background-image:
      url("../img/icon-map-marker.svg"),
      url("../img/bg-map-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 0 0;
  }
}
