.offer{
  padding: 17px 40px 9px 70px;

  background-color: #ffffff;

  &__list{
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__caption{
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  &__text{
    margin-bottom: 28px;
  }
}

@media(min-width: 768px){
  .offer{
    padding: 0;

    &__list{
      display: flex;
    }

    &__item{
      box-sizing: border-box;
      width: 256px;
      padding: 160px 50px 40px;

      text-align: center;
    }

    &__item:nth-child(2){
      order: 3;
    }

    &__item:nth-child(2){
      padding: 160px 40px 0;
    }

    &__caption{
      font-size: 21px;
    }
  }
}

@media(min-width: 1200px){
  .offer{

    &__item{
      box-sizing: border-box;
      width: 400px;
      padding: 160px 50px 40px;

      text-align: center;
    }
  }
}
