.offer{
  padding: 17px 40px 9px 70px;

  background-color: #ffffff;

  &__list{
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item{
    position: relative;
  }

  &__item::before{
    content: "";
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
  }

  &__item:nth-child(1)::before{
    top: -14px;
    left: -62px;

    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-size: 37px 37px;
    background-position: 14px 4px;
  }

  &__item:nth-child(2)::before{
    top: -10px;
    left: -48px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 37px 37px;
    background-position: 0 -1px;
  }

  &__item:nth-child(3)::before{
    top: -23px;
    left: -60px;

    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 37px 37px;
    background-position: 9px 17px;
  }

  &__caption{
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  &__text{
    margin-bottom: 28px;
  }
}

@media(min-width: 768px){
  .offer{
    padding: 0;

    &__list{
      display: flex;
    }

    &__item{
      box-sizing: border-box;
      width: 256px;
      padding: 138px 50px 34px;

      text-align: center;
    }

    &__item:nth-child(2){
      order: 3;
    }

    &__item:nth-child(2){
      padding: 138px 40px 0;
    }

    &__item::before{
      content: "";
      display: block;
      position: absolute;
      width: 80px;
      height: 80px;
    }

    &__item:nth-child(1)::before{
      top: 55px;
      left: 86px;

      background-image: url("../img/icon-house.svg");
      background-repeat: no-repeat;
      background-size: 75px 75px;
      background-position: 4px 3px;
    }

    &__item:nth-child(2)::before{
      top: 55px;
      left: 88px;

      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-size: 75px 75px;
      background-position: 1px 2px;
    }

    &__item:nth-child(3)::before{
      top: 55px;
      left: 86px;

      background-image: url("../img/icon-burger.svg");
      background-repeat: no-repeat;
      background-size: 75px 75px;
      background-position: 4px 5px;
    }

    &__caption{
      margin-bottom: 20px;

      font-size: 21px;
    }
  }
}

@media(min-width: 1200px){
  .offer{

    &__item{
      box-sizing: border-box;
      width: 400px;
      padding: 138px 50px 54px;

      text-align: center;
    }

    &__item:nth-child(1)::before{
      left: 157px;
    }

    &__item:nth-child(2)::before{
      left: 160px;
    }

    &__item:nth-child(3)::before{
      left: 158px;
    }

    &__caption{
      margin-bottom: 21px;
    }
  }
}
