.popup-success{
  padding-top: 45px;

  text-align: center;

  background-color: #ffffff;

  &__text{
    margin: 35px 40px 30px 40px;;
  }

  &__bg{
    box-sizing: border-box;
    height: 100px;
    padding-top: 20px;

    background-color: #f2f2f2;
  }
}
