.promo{
  text-align: center;

  background-color: #ffffff;
  border: 1px solid transparent;

  &__image{
    height: 390px;
    margin-bottom: 41px;

    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 50%, 50% 100%, -225px 0;
  }

  &__image--smaller{
    height: 159px;

    background-image:
      url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 50px, 50% 132px, -225px -225px;
  }

  &__title{
    width: 260px;
    margin: -2px auto;

    font-size: 18px;
    font-weight: 700px;
    line-height: 26px;
    color: #000000;
  }

  &__text{
    margin: 0;
    margin-top: 29px;
    padding: 0 10px 4px;

    line-height: 26px;
  }
}

@media(min-width: 768px){

  .promo{
    padding-bottom: 46px;

    &__image{
      height: 521px;

      margin-bottom: 45px;

      background-image:
        url("../img/text-sedona-index.svg"),
        url("../img/bg-back-mobile@1x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: 152px 75px, 50% 50%;
      background-size: 465px 355px, 135% 521px;
    }

    &__image--smaller{
      height: 290px;

      background-image:
        url("../img/text-sedona.svg"),
        url("../img/bg-back-mobile@1x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: 50% 94px, 50% 50%;
      background-size: 475px 80px, 100% 290px;
    }

    &__title{
      width: 455px;
      margin: 47px auto 29px;

      font-size: 21px;
    }

    &__text{
      width: 500px;
      margin: 0 auto;

      line-height: 24px;
    }
  }
}

@media(min-width: 1200px){

  .promo{
    padding-bottom: 46px;

    &__image{
      height: 521px;

    background-image: url(../img/text-sedona-index.svg), url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 368px 75px, 50% 50%;
    background-size: 465px 355px, 135% 521px;
    }

    &__image--smaller{
      height: 302px;

      background-position: 368px 94px, 50% 50%;
      background-size: 460px 94px, 100% 302px;
    }

    &__title {
      margin: 47px auto 29px;
    }
  }
}
