.promo{
  text-align: center;

  background-color: #ffffff;
  border: 1px solid transparent;

  &__image{
    height: 390px;
    margin-bottom: 41px;

    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 50%, 50% 100%, -225px 0;
  }

  @media(min-resolution: 1.5dppx){
    .promo{

     &__image{
       background-image: url("../img/bg-back-mobile@2x.jpg");
     }
   }
 }

  &__image--smaller{
    height: 165px;
    margin-bottom: 33px;

    background-image:
      url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 43px 50px, 50% 63px, -225px -231px;
    background-size: 228px 43px, 100% 100%, 768px 389px;
  }

  @media(min-resolution: 1.5dppx){
    .promo{

     &__image--smaller{
       background-image: url("../img/bg-back-mobile@2x.jpg");
     }
   }
 }

  &__title{
    width: 260px;
    margin: -2px auto;

    font-size: 18px;
    font-weight: 700px;
    line-height: 26px;
    color: #000000;
  }

  &__text{
    margin: 0;
    margin-top: 29px;
    padding: 0 10px 4px;

    line-height: 26px;
  }

  &__text--mod{
    margin: 28px 13px 22px 13px;

    line-height: 24px;
  }
}

@media(min-width: 768px){

  .promo{
    padding-bottom: 46px;

    &--mod{
      padding-bottom: 64px;
    }

    &__image{
      height: 521px;

      margin-bottom: 45px;

      background-image:
        url("../img/text-sedona-index.svg"),
        url("../img/bg-intro-triangle-tablet.svg"),
        url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: 152px 75px, 0 232px, 50% 50%;
      background-size: 465px 355px, 100% 100%, 100% 100%;
    }

    @media(min-resolution: 1.5dppx){
      .promo{

      &__image{
        background-image: url("../img/bg-back-tablet@2x.jpg");
      }
    }
  }

    &__image--smaller{
      height: 290px;

      background-image:
        url("../img/text-sedona.svg"),
        url("../img/bg-intro-triangle-tablet.svg"),
        url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: 50% 94px, 0 117px, 0 -228px;
      background-size: 475px 80px, 100% 100%, 100% 518px;
    }

    @media(min-resolution: 1.5dppx){
     .promo{

      &__image--smaller{
        background-image: url("../img/bg-back-tablet@2x.jpg");
      }
    }
  }

    &__title{
      width: 455px;
      margin: 47px auto 29px;

      font-size: 21px;
    }

    &__title--mod{
      font-size: 30px;
      margin: 74px 155px 31px 155px;
    }

    &__text{
      width: 500px;
      margin: 0 auto;

      line-height: 24px;
    }

    &__text--mod{
      width: 431px;
    }
  }
}

@media(min-width: 1200px){

  .promo{
    padding-bottom: 46px;

    &--mod{
      padding-bottom: 66px;
    }

    &__image{
      height: 521px;

      margin-bottom: 45px;

      background-image:
        url("../img/text-sedona-index.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: 155px 78px, 0 232px, 50% 50%;
      background-size: 888px 353px, 100% 100%, 100% 100%;
    }

   @media(min-resolution: 1.5dppx){
     .promo{

     &__image{
       background-image: url("../img/bg-back-desktop@2x.jpg");
     }
   }
 }

    &__image--smaller{
      height: 302px;

      background-image:
        url("../img/text-sedona.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: 368px 94px, 0 122px, 0 -217px;
      background-size: 460px 94px, 100% 100%, 100% 518px;
    }

   @media(min-resolution: 1.5dppx){
     .promo{

     &__image--smaller{
       background-image: url("../img/bg-back-desktop@2x.jpg");
     }
   }
 }

    &__title {
      margin: 47px auto 29px;
    }

    &__title--mod{
      margin: 109px auto 32px;
    }
  }
}
