.promo{
  text-align: center;

  background-color: #ffffff;
  border: 1px solid transparent;

  &__image{
    height: 390px;
    margin-bottom: 45px;

    background-image: url("../img/text-sedona-index.svg"),
                      url("../img/bg-intro-triangle-mobile.svg"),
                      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 50%, 50% 100%, -225px 0;
  }

  &__image--smaller{
    height: 165px;

    background-image: url("../img/text-sedona.svg"),
                      url("../img/bg-intro-triangle-mobile.svg"),
                      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 50%, 50% 100%, -225px -225px;
  }

  &__text{
    margin: 0;
    margin-top: 30px;
    padding: 0 20px;

    line-height: 26px;
  }

  &__text--mod{
    margin-bottom: 25px;
  }
}
