.search{
  padding: 6px 20px 49px 20px;

  text-align: center;

  background-color: #ffffff;

  &__appeal{
    margin-bottom: 19px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
  }

  &__text{
    margin-bottom: 35px;

    line-height: 24px;
  }

  &__button{
    display: block;
    padding: 16px 45px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    background-color: #81b3d2;

    text-decoration: none;
  }

  &__button:hover{
    background-color: #669ec0;
  }

  &__button:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }
    
  &__button[disabled]{
    background-color: #e5e5e5;  
  }
}

@media(min-width: 768px){
  .search{
    padding-bottom: 58px;

    &__appeal{
      width: 300px;
      margin: 49px auto 31px;

      font-size: 30px;
    }

    &__text{
      width: 399px;
      margin: 0 auto 42px;

      line-height: 24px;
    }

    &__button{
      width: 368px;
      margin: 0 auto;
    }
  }
}

@media(min-width: 1200px){
  .search{
    padding-bottom: 66px;

    &__text{
      margin-bottom: 47px;
    }
  }
}
