.search{
  padding: 30px 20px 50px 20px;

  text-align: center;

  background-color: #ffffff;

  &__appeal{
    margin-bottom: 30px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
  }

  &__text{
    margin-bottom: 40px;
  }

  &__button{
    display: block;
    padding: 17px 45px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    background-color: #81b3d2;

    text-decoration: none;
  }
}
