.social{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;

  list-style: none;
}
.social__link{
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;

  text-decoration: none;

  background-color: #81b3d2;
}

.social__link:hover{
  background-color: #669ec0;
}

.social__link:active{
  background-color: #5496bd;
}

.social__link:active svg{
  opacity: 0.3;
}

.social__link:focus{
  outline: 1px solid blue;
}

.social__icon{
  position: absolute;

  fill: #ffffff;
}

.social__item:nth-child(1) svg{
  top: 17px;
  left: 13px;
  width: 18px;
  height: 15px;
}

.social__item:nth-child(2) svg{
  top: 14px;
  left: 18px;
  width: 9px;
  height: 19px;
}

.social__item:nth-child(3) svg{
  top: 17px;
  left: 13px;
  width: 20px;
  height: 14px;
}

.social__item:nth-of-type(3) a{
  margin-right: 0;
}

@media(min-width: 768px){
  .social{
    display: flex;
    margin: 0;
  }
}

@media(min-width: 1200px){
  .social{
    margin-left: 257px;
  }
}
