.video{
  padding-top: 35px;

  text-align: center;

  background-color: #ffffff;
  border-top: 1px solid #e5e5e5;

  &__appeal{
    margin-bottom: 35px;
    width: 214px;
    margin: 0 auto 35px;

    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  &__text{
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

    line-height: 24px;
  }
}

@media(min-width: 768px){
  .video{
    position: relative;
    border: none;

    &__appeal{
      width: 380px;
      margin: 35px auto 35px;

      font-size: 30px;
    }

    &__text{
      width: 425px;
      margin: 0 auto 80px;
    }

    &__image img{
      width: 648px;
      height: 500px;
    }
  }
}

@media(min-width: 1200px){
  .video{

    &__image img{
      width: 800px;
      height: 500px;
    }
  }
}
